* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen-page, .loading-page{
    display: none;
}

.loading .loading-page, .screen .screen-page{
    display: block;
}

main{
    min-height: 100vh;
    
}


body{
    background-image: linear-gradient(#35bcda ,#71be6177);
}

.logo{
    width: 150px;
}


header{
    text-align: center;
}


.container{
    width: calc(100vw - 10px);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  
}

.button-selects{
    border: #1475FD 2px solid;
    border-radius: 9px;
    padding-top : 9px;
    margin-bottom: 18px;
}
.feed-item h3 {
    text-align: center;
    margin-bottom: 9px;
}

.screen-page h3{
    margin-bottom: 9px;
}

.feed-item p{
    margin-bottom: 9px;
}

.feed-item{
    border: 2px solid #1475FD;
    border-radius: 9px;
    margin-bottom: 9px;
    padding: 9px;
}


.primary-button{
    padding: 18px;
    margin-bottom: 9px;
    border-radius: 9px;
    border: none;
    background-color:#1475FD;

}

#logo-loading{
    height: 300px;
    animation: pulse 0.5s infinite alternate;
    align-items: center;
    justify-content: center;
}
.spazio{
    height: calc(50vh - 150px);
}

@keyframes pulse {
    from{ scale: 1;}
    to{scale: 1.2;}
    
}
/* VIDEO */
#video-live{
    border-radius: 9px;
    max-width: 400px;
    width: calc(100vw - 10px);
    height: 250px;
    
}
.video h3 , .video iframe{
    margin-bottom: 9px;
}